.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .mobile-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: .5rem;
    color: var(--text-dark);
  }

  .desktop-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.25rem;
      color: var(--text-dark);
      text-transform: uppercase;
      position: relative;
      transition: color 0.3s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        color: var(--color-primary);

        &::after {
          transform: scaleX(1);
        }
      }

      &.active {
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }

  @media (max-width: 768px) {
    .desktop-menu { display: none; }
    .mobile-toggle { display: block; }
  }
}
